<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Vicious Valet</title>
<link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div id="header">
	<h1>Vicious Valet!!</h1>
	</div>
	<div id="top-image"></div>
	<form action="/" method="post">
		<div id="entry">
			<div>
				<label>License Plate: <Input type="text" name="license" class="rounded">
				</label>
			</div>
			<div>
				<label>Vehicle State: <Input type="text" name="state" class="rounded">
				</label>
			</div>
			<div>
				<label>Vehicle Color: <Input type="text" name="color" class="rounded">
				</label>
			</div>
			<div>
				<label>Vehicle Make: <Input type="text" name="make" class="rounded">
				</label>
			</div>
			<div>
				<label>Vehicle Model: <Input type="text" name="model" class="rounded">
				</label>
			</div>
			<button type="submit" class="rounded">Add New Car</button>
		</div>
	</form>
	<p>The lot is full: <span id="full">{{ lot.isFull }}</span>. {{ lot.carList.size }} out of
		{{ lot.getCapacity }} spots filled.</p>
	<div id="table">
	<table>
		<thead>
			<tr>
				<th>License Plate</th>
				<th>Vehicle State</th>
				<th>Vehicle Color</th>
				<th>Vehicle Make</th>
				<th>Vehicle Model</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{{#lot.carList}}
			<tr class="alternate">
				<td>{{ license }}</td>
				<td>{{ state }}</td>
				<td>{{ color }}</td>
				<td>{{ make }}</td>
				<td>{{ model }}</td>
				<td>
					<form method="post" action="remove">
						<input type="hidden" name="carIndex" value="{{ -index }}">
						<button>Remove from lot</button>
					</form>
				</td>
			</tr>
			{{/lot.carList}}
		</tbody>
	</table>
	</div>
</body>
</html>